!==============================================================================
! General Config
!==============================================================================
URxvt.perl-ext-common: resize-font

Xcursor.size: 10

! Zoom Keybindings (AUR Package: urxvt-resize-font)
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:reset
URxvt.keysym.C-equal:     resize-font:bigger
URxvt.keysym.C-question:  resize-font:show

!==============================================================================
! URxvt Config
!==============================================================================

URxvt*font: xft:Inconsolata Nerd Font Mono:size=12:antialias=true
URxvt*letterSpace: -1
URxvt*borderLess: false
URxvt*scrollBar: false
URxvt*externalBorder: 0
URxvt*internalBorder: 12
URxvt*saveLines: 5000

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

!==============================================================================
!Colors
!==============================================================================

! hard contrast: *background: #1d2021
*background: #16191e
! soft contrast: *background: #32302f
*foreground: #ebdbb2

! Black + DarkGrey
*color0:  #282828
*color8:  #928374

! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934

! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26

! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f

! DarkBlue + Blue
*color4:  #458588
*color12: #83a598

! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b

! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c

! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
